########################################
# First, map the community name to a "security name"
#
#        sec.name        source    community
com2sec  notConfigUser   default   xxxxxx

########################################
# Second, map the security name into a group name:
#
#       groupName   securityModel   securityName
group   ROGrp       v1              notConfigUser
group   ROGrp       v2c             notConfigUser

########################################
# Third, create a view for us to let the group have rights to:
#
#      name   incl/excl   subtree   mask(optional)
view   all    included    .1

########################################
# Finally, grant the group read-only access to the view.
#
#        group   context   sec.mod   sec.lev   prefix   read   write   notif
access   ROGrp   ""        any       noauth    exact    all    none    none

########################################
# Define system-level attributes

syslocation   Orlando Data Center
syscontact    Atlantic.Net NOC <noc@atlantic.net>

########################################
# Set up additional tests which may or may not be used
#
# "exec" directives for older net-snmp versions
#
#exec  .1.3.6.1.4.1.5671.1    mdstat  /etc/snmp/check-mdstat
#exec  .1.3.6.1.4.1.5671.2    smart   /etc/snmp/check-smart
#exec  .1.3.6.1.4.1.5671.3.1  3ware1  /etc/snmp/check-3ware /c0/u0
#exec  .1.3.6.1.4.1.5671.3.2  3ware2  /etc/snmp/check-3ware /c1/u0
#exec  .1.3.6.1.4.1.5671.101  qstat   /etc/snmp/qstat
#exec  .1.3.6.1.4.1.5671.102  qwait   /etc/snmp/qwait
#
# "extend" directives for net-snmp 5.2 and newer
#
# Note: the names after "extend" become part of the OID used to query
# that item. Do not change them unless you understand what you're doing.
#
#extend	mdstat	/etc/snmp/check-mdstat
#extend	smart	/etc/snmp/check-smart
#extend	3ware1	/etc/snmp/check-3ware /c0/u0
#extend	3ware2	/etc/snmp/check-3ware /c1/u0
#extend	qstat	/etc/snmp/qstat
#extend qwait	/etc/snmp/qwait
#extend megaraid /etc/snmp/check-megaraid